name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Get latest tag from Git or default to v0
      - name: Get version
        id: vars
        run: |
          if git describe --tags --abbrev=0 >/dev/null 2>&1; then
            LATEST_TAG=$(git describe --tags --abbrev=0)
            echo "Latest tag: $LATEST_TAG"
            # Increment patch version
            VERSION=$(echo $LATEST_TAG | awk -F. '{print "v"$1+0"."$2+0"."$3+1}')
          else
            VERSION="v1"
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t bilal312/idrak-app:${{ env.VERSION }} .

      - name: Push Docker image
        run: |
          docker push bilal312/idrak-app:${{ env.VERSION }}
